
  .header-container-img{
    background: url('../assets/img/header-bg.jpg') right bottom / cover no-repeat;
 
    height: 901px;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 673px;
  }
  .header-container-img h1{
    color: white;
    margin-top: 250px;
    margin-bottom: 0;
    font-size: 60px;
    text-align: center;

  }
  .header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
  }
  .menu-items{
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
  .menu-items a{
    text-decoration: none;
    font-size: 12px;
    color: white;
  } 
  .btn-saznaj-vise{
    text-decoration: none;
    color: white;
    background-color: transparent;
    border: 2px solid;
    padding: 12px 24px 12px 24px;
    border-radius: 4px;
    margin-top: 80px;
  }
  .btn-saznaj-vise:hover{
    background-color: white;
	color: #0dad8d;
	border-color: white;
  }
  .usluge-container{
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 120px;
  }
  h2{
    font-size: 32px;
    color:rgb(85, 85, 85);
  }
  hr{
    height: 3px;
    width: 60px;
    text-align: center;
    position: relative;
    background: rgb(13, 173, 141);
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    margin: 10px auto 30px;
  }
  .box-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
  }
  .box-1 p{
    text-align: center;
  }
  .box-1 h4{
    font-size: 20px;
    color: rgb(102, 102, 102);
    margin-bottom: 0;
  }
  .portfolio-container{
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 120px;
  }
  .onama-container{
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 120px;
  }
  .onama-container h4{
    margin: 0;
  }
  .postignuca{
    background-color: rgb(13, 191, 155);
    padding: 80px 100px;
    display: flex;
    justify-content: space-between;
  }
  .postignuca h3, .postignuca p{
    color: white;
    text-align: center;
  }
  .postignuca h3{
    font-size: 50px;
    margin: 0;
  }
  .postignuca p{
    font-size: 16px;
  }
  .tim-container{
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 120px;
  }
  .tim-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
  }
  .tim-box img{
    height: 150px;
    width: 150px;
    border-radius: 150px;
    margin: 0;
}
.tim-box h3{
    margin-bottom: 0;
}
.tim-box p{
    margin: 0;
    margin-top: 10px;
    text-align: center;
}
.kontakt-container{
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 120px;
  }
  .logo{
    width: 150px;
    margin-top: 20px;
  }
  .usluge-resp{
    display: flex; justify-content: space-between; padding:0 100px; width: 100%; margin-top: 40px;
  }
  .onama-resp{
    width: 100%; padding: 0 100px; display: flex; gap: 20px;
  }
  .tim-resp{
    width: 100%; display:flex; justify-content: space-between; padding: 0 100px; margin-top: 50px;
  }
  @media only screen and (max-width: 500px) {
    .usluge-resp{
        flex-direction: column;
        align-items: center;
    }
    .box-1{
        width: 90%;
    }
    .onama-resp{
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
    
    .onama-resp img{
        width: 90% !important;
    }
    .onama-resp div{
        width: 90% !important;
    }
    .postignuca{
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .tim-resp{
        flex-direction: column;
        align-items: center;
        padding: 0;
        gap: 50px;
    }
    .tim-box{
        width: 90%;
    }
    
  }