<div class ="header-container-img">
    <div class="header-container" name="home">
        <img src="assets/img/logo.jpg" class="logo">
        <div class="menu-items">
            <a href="#home"> HOME</a>
            <a href="#usluge"> USLUGE</a>
            <a href="#portfolio"> PORTFOLIO</a>
            <a href="#onama"> O NAMA</a>
            <a href="#tim"> TIM</a>
            <a href="#kontakt"> KONTAKT</a>
        </div>
    </div>
    <h1>Dobrodošli na <strong>Unimetal</strong></h1>
    <p style="text-align: center; color:white;">We are a full-service integrated creative agency</p>
    <a href="#services-section" class="btn-saznaj-vise">SAZNAJ VIŠE</a>
</div>
<div id="usluge" class="usluge-container">
    <h2>Naše usluge</h2>
    <hr>
    <p>Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus. Eleifend pellentesque natoque faucibus magna ut etiam.</p>
    <div class="usluge-resp">
        <div class="box-1">
            <img src="assets/img/icon1.jpg">
            <h4>Web Design</h4>
            <p>Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus eleifend pellentesque natoque etiam.</p>
        </div>
        <div class="box-1">
            <img src="assets/img/icon1.jpg">
            <h4>Web Design</h4>
            <p>Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus eleifend pellentesque natoque etiam.</p>
        </div>
        <div class="box-1">
            <img src="assets/img/icon1.jpg">
            <h4>Web Design</h4>
            <p>Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus eleifend pellentesque natoque etiam.</p>
        </div>
        <div class="box-1">
            <img src="assets/img/icon1.jpg">
            <h4>Web Design</h4>
            <p>Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus eleifend pellentesque natoque etiam.</p>
        </div>
    </div>
</div>
<div id="portfolio" class="portfolio-container">
    <h2>Naš Portfolio</h2>
    <hr>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diamcommodo nibh ante facilisis.</p>
    <img src="assets/img/Screenshot_1.jpg" style="max-width: 100%;">
</div>

<div id="onama" class="onama-container">
    <h2>O nama</h2>
    <hr>
    <p>Mi smo jebaci.</p>
    <div class="onama-resp">
        <img src="assets/img/slika2.jpg" style="width: 45%;">
        <div style="display: flex; flex-direction: column; width: 45%; justify-content: flex-start;">
            <h4>Ko smo mi</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo nibh ante facilisis bibendum dolor feugiat at. Duis sed dapibus leo nec ornare diam commodo nibh ante facilisis bibendum.</p>
            <h4>Šta radimo</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo nibh ante facilisis bibendum dolor feugiat at. Duis sed dapibus leo nec ornare diam commodo nibh ante facilisis bibendum.</p>
            <h4>Zašto odabrati nas</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo nibh ante facilisis bibendum dolor feugiat at. Duis sed dapibus leo nec ornare diam commodo nibh ante facilisis bibendum.</p>
        
        </div>
    </div>
    
</div>
<div id="postignuca" class="postignuca">
    <div>
        <h3> 210 </h3>
        <p> ZADOVOLJNIH KLIJENATA </p>
    </div>
    <div>
        <h3> 9,500 </h3>
        <p> RADNIH SATI </p>
    </div>
    <div>
        <h3> 590 </h3>
        <p> ZAVRŠENIH PROJEKATA </p>
    </div>
    <div>
        <h3> 14 </h3>
        <p> DOBIJENIH NAGRADA </p>
    </div> 
</div>
<div id="tim" class="tim-container">
    <h2>Upoznajte tim</h2>
    <hr>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diamcommodo nibh ante facilisis.</p>
    <div class="tim-resp">
        <div class="tim-box">
            <img src="assets/img/zeja.jpg">
            <h3>Zejd Kućanović</h3>
            <p>Osnivač/TITO</p>
            <p>Najbolje vari, razvaljuje, postavlja i odvaljuje i štema i sve!</p>
        </div>
        <div class="tim-box">
            <img src="assets/img/zeja.jpg">
            <h3>Zejd Kućanović</h3>
            <p>Osnivač/TITO</p>
            <p>Najbolje vari, razvaljuje, postavlja i odvaljuje i štema i sve!</p>
        </div>
        <div class="tim-box">
            <img src="assets/img/zeja.jpg">
            <h3>Zejd Kućanović</h3>
            <p>Osnivač/TITO</p>
            <p>Najbolje vari, razvaljuje, postavlja i odvaljuje i štema i sve!</p>
        </div>
    </div>
</div>
<div id="kontakt" class="kontakt-container">
    <h2>Kontaktirajte nas</h2>
    <hr>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diamcommodo nibh ante facilisis.</p>
    <img src="assets/img/Screenshot_2.jpg">
</div>